@model List<WebApplication1.Models.Appointment>
@{
    ViewBag.Title = "Index";
}

<h2>Today's Appointments</h2>
<hr />

<div class="container text-center mb-5">
    <table class="table table-hover mx-auto">
        <tr>
            <th>Patient Username</th>
            <th>Phone Number</th>
            <th>Appointment Date</th>
            <th>Time Slot</th>
            <th>Chamber Name</th>
            <th>Checked In</th>
            <th>Bill Amount</th>
            <th>Action</th>
        </tr>
        @foreach (var items in Model)
        {
            <tr>
                <td>@items.User.UserName</td>
                <td>@items.User.Phone</td>
                <td>@items.AppointmentDate.ToString("yyyy-MM-dd")</td>
                <td>@items.Time</td>
                <td>@items.Chamber.ChamberName</td>
                <td>@(items.CheckIn.HasValue ? (items.CheckIn.Value ? "Yes" : "No") : "Not yet Checked In")</td>
                @using (Html.BeginForm("CheckIn", "Assistant", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <td>

                        <input type="number" name="BillAmount" placeholder="Enter Bill" class="form-control" required />
                        <input type="hidden" name="AppointmentId" value="@items.AppointmentId" />
                        <input type="hidden" name="ChamberId" value="@items.ChamberId" />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-outline-success btn-sm">Check In</button>

                    </td>
                }
            </tr>
         }
    </table>
</div>
